body{
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)), url(car1.webp);
    background-size: cover;
    padding: 0;
    margin: 0;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


nav ul{
    list-style: none;
    text-align: center;
    padding: 20;
    margin-top: 40;
}

li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 23px;
    transition: 0.5s;
 
}

ul li{
    display: inline-block;
}

ul li a:hover{
    color: rgb(63, 1, 63);
    font-size: 25px;
}

#h1{
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

#p1{
    text-align: center;
    margin-top: 230px;
    color: white;
    font-size: 40px;
}

#button1{
    margin-left: 600px;
    background-color:rgb(159, 101, 173) ;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.4s;
    
}

#button1:hover{
    background-color: rgb(74, 37, 207);
}

#button1 a{
    text-decoration: none;
    color: white;
}

#button1 a:visited{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 850px) {
    nav{
        display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;
                justify-content: space-around;
                align-items: center;
    }
    nav>ul{
        margin-top: -28px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
                align-content: stretch;
                justify-content: space-around;
                align-items: center;
    }
    nav>ul>li{
        width: 100%;
    }
}

#div2{
    transform: translateY(30px);
    opacity: 0;
    animation: slideFadeIn 0.4s ease-out forwards;
    animation-delay: 0.1s;
}


@keyframes slideFadeIn{
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

