body{
    background-color: white;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(59, 59, 59);
}


nav ul{
    list-style: none;
    text-align: center;
    padding: 20;
}

li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 23px;
    transition: 0.5s;
 
}

ul li{
    display: inline-block;
}

ul li a:hover{
    color: rgb(163, 9, 163);
    font-size: 25px;
}
#h1{
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

#a1{
    color: rgb(163, 9, 163);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 23px;
    transition: 0.5s;
}

#a1:hover{
    color: rgb(163, 9, 163);
    font-size: 25px;
}

.div1{
    border: 0.5px solid gray;
    width: 400px;
    height: 500px;
    transform: scale(0.8);
    opacity: 0;
    animation: slideFadeIn 0.4s ease-out forwards;
    animation-delay: 0.1s;
}

@keyframes slideFadeIn{
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.p1{
    font-size: 40px;
    padding: 10px;
    display: block;
    font-variant: small-caps;
    text-align: center;
}

.p2{
    font-size: 23px;
    display: block;
    padding: 35px;
    text-align: center;
}

#div2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 100px;
}

.div1:hover{
    background-color: rgb(100, 155, 255);
    transition: 0.5s;
    border: 0.5px solid gray;
}

@media screen and (max-width: 850px) {
    nav{
        display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;
                justify-content: space-around;
                align-items: center;
    }
    nav>ul{
        margin-top: -28px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
                align-content: stretch;
                justify-content: space-around;
                align-items: center;
    }
    nav>ul>li{
        width: 100%;
    }
}